<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>
                Pontos de coleta
            </h1>
            <a href="#" class="close">Fechar</a>
        </div>
        <form action="/search">
            <label for="search">Digite o nome da cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por cidade">
                <button type="submit">
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div>

        </form>
    </div>
</div>